
<div class="ui container">
    <% if flash[:error] %>
        <div class="ui negative message">
            <%= flash[:error] %>
        </div>
    <% end %>
    <div class="ui grid">
        <div class="ui form">
            <%= form_tag do %>
            <div class="two fields">
                <div class="field">
                    <%= label_tag :username %>
                    <%= text_field_tag :username %>
                </div>
                <div class="field">
                    <%= label_tag :password %>
                    <%= password_field_tag :password %>
                </div>
            </div>
            <%= submit_tag "log in", class: "ui button" %>
            <% end %>
    </div>
    </div>
</div>