<div class="ui container">
    <h1>Available Litters</h1>
    <div class="ui four centered doubling link cards">
        <% @litters.each do |litter| %>
            <div class="ui card">
                <div class="image">
                    <%= image_tag litter.image, {height: 250, width: 250} %>
                </div>
                <div id=<%="litter-#{litter.id}"%> class="content">
                    <div class="header">
                        Name: <%=link_to litter.name, litter_path(litter) %>
                    </div>
                    <div class="description">
                        Birthday: <%= litter.birthday %> <br>
                        Number of Puppies: <%= litter.puppers.count %> <br>
                        Parents: <%= link_to "#{litter.parents[0].name}", parent_path(litter.parents[0])%>, <%= link_to "#{litter.parents[1].name}", parent_path(litter.parents[1])%> <br>
                        Breed: <%= litter.breed %> <br>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
