<div class="ui container">
    <h1>
        Parents
    </h1>
    
    <table class="ui celled table" id="parents-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Genetics</th>
                <th>Registration</th>
                <th>Role</th>
            </tr>
        </thead>
        
        <tbody>
            <% @parents.each do |parent|%>
            <tr>
                <td data-label="Name">
                    <%= link_to "#{parent.name}", admin_parent_path(parent) %>
                </td>
                <td data-label="Breed"><%= parent.breed %></td>
                <td data-label="Genetics"><%= parent.genetics %></td>
                <td data-label="Registration"><%= parent.registration %></td>
                <td data-label="Role"><%= parent.role %></td>
            </tr>
            <% end %>
        </tbody>

    </table>

    <br>

    <%= link_to 'Add a Parent', new_admin_parent_path, {class: "ui button"} %>
    <%= link_to 'View All Litters', admin_litters_path, {class: "ui button"} %>
</div>

