<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4 Paws Doodles</title>
</head>
<body>
    <% if @errors %>
        <div class="errors"><%=@errors.join(", ")%></div>
    <%end%>

    <%= form_for [:admin, @parent] do |f|%>
        <%= f.label :name%>
        <%= f.text_field :name%>
        <%= f.label :breed%>
        <%= f.text_field :breed%>
        <%= f.label :genetics%>
        <%= f.text_field :genetics%>
        <%= f.label :role%>
        <%= f.text_field :role%>
        <%=f.submit%>
    <% end %>
</body>
</html>