<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4 Paws Doodles</title>
</head>
<body>
    <% if @errors %>
        <div class="errors"><%=@errors.join(", ")%></div>
    <%end%>

    <div class="ui container">
        <div class="ui form">
            <%= form_for [:admin, @parent] do |f|%>
                <div class="four fields">
                    <div class="field">
                        <%= f.label :name%>
                        <%= f.text_field :name%>
                    </div>
                    <div class="field">
                        <%= f.label :breed%>
                        <%= f.text_field :breed%>
                    </div>
                    <div class="field">
                        <%= f.label :genetics%>
                        <%= f.text_field :genetics%>
                    </div>
                    <div class="field">
                        <%= f.label :role%>
                        <%= f.select(:role, ([["Dam", "dam"], ["Sire", "sire"]]), {include_blank:""}, { :class => "ui fluid dropdown" })%>
                    </div>
                </div>
                    <%=f.submit class: "ui button"%>
            <% end %>
        </div>
    </div>
</body>
</html>