<div class="ui container">
    <h1><%= @parent.name %>'s stats</h1>
    <table id="parent-<%=@parent.id%>" class="parent ui celled table">
        <thead>
            <th>Breed</th>
            <th>Genetics</th>
            <th>Role</th>
            <th>Delete</th>
            <th>Edit</th>
        </thead>

        <tbody>
            <tr>
                <td><%= @parent.breed %></td>
                <td><%= @parent.genetics %></td>
                <td><%= @parent.role %></td>
                <td>
                    <%= link_to 'Delete Parent :(', 
                        admin_parent_path(@parent), 
                        method: :delete
                     %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_admin_parent_path(@parent)%>
                </td>

            </tr>
        </tbody>
    </table>

    <h2>Associated Litters</h2>
    <div id="litters">
        <%@litters.each do |litter|%>
            <div class="ui segment">
                <h3>Name: <%= link_to litter.name, admin_litter_path(litter) %> <br>
                Birthday: <%= litter.birthday %></h3>
                <table class="ui celled table">
                    <thead>
                        <tr>Associated Puppies:</tr>
                        <th>Puppy ID</th>
                        <th>Gender</th>
                        <th>Breed</th>
                        <th>Other Parent</th>
                    </thead>

                    <%  litter.puppers.each do |pupper| %>
                        <tbody>
                            <td><%= pupper.id %></td>
                            <td><%= pupper.gender %></td>
                            <td><%= litter.breed %></td>
                            <td>
                                <% #fixme: refactor the heck out of this %>
                                <%=link_to (pupper.parents - [@parent]).first.name, admin_parent_path((pupper.parents - [@parent]).first)%>
                            </td>
                        </tbody>
                    <%end%>
                </table>
            </div>
        <%end%>
    </div>
</div>
