<div class="ui container">
    <h1>Available Puppies!</h1>
    <div class="ui four centered doubling link cards">
        <% @puppers.each do |pupper| %>
            <div id="pupper-<%= pupper.id %>" class="ui card">
                <div class="image">
                    <%= image_tag pupper.image %>
                </div>
                <div class="content">
                    <div class="header">
                        id: <%= pupper.id %>    
                    </div>
                    <div class="description">
                        litter: <%= link_to pupper.litter.name, litter_path(pupper.litter) %> <br> 
                        gender: <%= pupper.gender %> <br>
                        breed: <%= pupper.litter.breed %> <br>
                        Parents: <%= link_to pupper.parents.first.name, parents_path(pupper.parents.first) %>, <%= link_to pupper.parents.last.name, parents_path(pupper.parents.last) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>