<div class="ui container">
    <h1>Available Puppies!</h1>
    <table class="ui celled table">
        <thead>
            <th>Puppy ID</th>
            <th>Litter</th>
            <th>Gender</th>
            <th>Breed</th>
            <th>Parents</th>
            <th>Status</th>
        </thead>

        <% @puppers.each do |pupper| %>
        <tbody id="pupper-<%= pupper.id %>"">
            <td><%= pupper.id %></td>
            <td><%= link_to pupper.litter.name, litter_path(pupper.litter) %></td>
            <td><%= pupper.gender %></td>
            <td><%= pupper.litter.breed %></td>
            <td>
                <%= link_to pupper.parents.first.name, parents_path(pupper.parents.first) %>,
                <%= link_to pupper.parents.last.name, parents_path(pupper.parents.last) %>
            </td>
            <% if pupper.sold? %>
                <td> sold </td>
            <% else %>
                <td> unsold </td>
            <% end %>
        </tbody>
        <% end %>
    </table>

    <h1>
        THIS IS FOR THE PLEBS
    </h1>
</div>