<div class="ui container">
    <h1>Admin Litters</h1>
    <table class="ui celled table"> 
        <thead>
            <th>Name</th>
            <th>Birthday</th>
            <th>Puppy Count</th>
            <th>Parents</th>
            <th>Breed</th>
        </thead>

        <tbody>
            <% @litters.each do |litter| %>
                <tr id=<%="litter-#{litter.id}"%>>
                    <td><%=link_to litter.name, admin_litter_path(litter) %></td>
                    <td><%= litter.birthday %></td>
                    <td><%= litter.puppers.count %></td>
                        <td>
                            <%= link_to "#{litter.parents[0].name}", admin_parent_path(litter.parents[0])%>, 
                            <%= link_to "#{litter.parents[1].name}", admin_parent_path(litter.parents[1])%> 
                        </td>
                    <td><%= litter.breed %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <p><%= link_to 'add a litter', new_admin_litter_path, {class: "ui button"} %></p>
</div>
