<div class="ui container">
    <div class="ui form">
        <%= form_for [:admin, @litter] do |f| %>
            <div class="two fields">
                <div class="field">
                    <%= f.label :birthday %>
                    <%= f.date_field :birthday %>
                </div>
                <div class="field">
                    <%= f.label :breed %>
                    <%= f.text_field :breed %>
                </div>
            </div>
            
            <div class="four fields">
                <div id="Mother" class="field">
                    <%= label_tag("litter[parents]", "Mother") %>
                    <%= collection_select("litter[parents]", :mother, @mothers, :id, :name) %>
                </div>
                <div id="Father" class="field">
                    <%= label_tag("litter[parents]", "Father") %>
                    <%= collection_select("litter[parents]", :father, @fathers, :id, :name) %>
                </div>
                <div class="field">
                    <%= label_tag("litter[boys]", "Boys") %>
                    <%= select_tag("litter[boys]", options_for_select([[0, 0], [1, 1], [2, 2], [3, 3], [4, 4],
                                                                    [5, 5], [6, 6]])) %>
                </div>
                <div class="field">
                    <%= label_tag("litter[girls]", "Girls") %>
                    <%= select_tag("litter[girls]", options_for_select([[0, 0], [1, 1], [2, 2], [3, 3], [4, 4],
                                                                    [5, 5], [6, 6]])) %>
                </div>
            </div>
            <%= f.submit "add litter", class: "ui button" %>
            <% end %>
        </div>
    </div>
</div>
