<h1>All Puppies</h1>
<table>
    <thead>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Breed</th>
        <th>Litter</th>
        <th>Sold?</th>
        <th>Mark as Sold</th>
    </thead>

    <% @puppers.each do |pupper| %>
    <tbody id="pupper-<%= pupper.id %>"">
        <td><%= pupper.gender %></td>
        <td><%= pupper.litter.breed %></td>
        <td><%= pupper.sold? %></td>
    </tbody>
    <% end %>
</table>

<%= link_to 'add a pupper', new_admin_pupper_path %>