<div class="ui container">
    <h1>
        Parents
    </h1>
    
    <table class="ui celled table" id="parents-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Genetics</th>
                <th>Registration</th>
                <th>Role</th>
            </tr>
        </thead>
        
        <tbody>
            <% @parents.each do |parent|%>
            <tr>
                <td>
                    <%= link_to "#{parent.name}", parent_path(parent) %>
                </td>
                <td><%= parent.breed %></td>
                <td><%= parent.genetics %></td>
                <td><%= parent.registration %></td>
                <td><%= parent.role %></td>
            </tr>
            <% end %>
        </tbody>

    </table>

    <br>
</div>
