<div class="ui container">
    <h1>
        Parents
    </h1>
    <div class="ui four centered doubling link parent cards">
    <% @parents.each do |parent|%>
        <div class="ui card">
            <div class="image">
                <%= image_tag parent.image %> 
            </div>
            <div class="content">
                <br>
                <div class="header">
                    <%= link_to "#{parent.name}", parent_path(parent) %>
                </div>
                <div class="description">
                    Breed: <%= parent.breed %>
                    Genetics: <%= parent.genetics %>  
                    Registration: <%= parent.registration %>  
                    Role: <%= parent.role %>  
                </div>
            </div>
        </div>
    <% end %>
    </div>
    <br>
</div>
