<div class="ui container">
    <h1><%= @parent.name %>'s Available Litters</h1>
    <table id="parent-<%=@parent.id%>" class="parent ui celled table">
        <thead>
            <th>Name</th>
            <th>Breed</th>
            <th>Genetics</th>
            <th>Role</th>
            <th></th>
        </thead>

        <tbody>
            <tr>
                <td><%= @parent.name %></td>
                <td><%= @parent.breed %></td>
                <td><%= @parent.genetics %></td>
                <td><%= @parent.role %></td>
            </tr>
        </tbody>
    </table>

    <h1>Litters</h1>
    <div id="litters">
        <%@litters.each do |litter|%>
            <div class="ui segment">
                <h1><%=link_to litter.name, litter_path(litter)%></h1>
                <h3>Birthday: <%= litter.birthday %></h3>

                <table class='ui celled table'>
                    <thead>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Breed</th>
                        <th>Other Parent</th>
                    </thead>

                    <%  litter.puppers.each do |pupper| %>
                        <tbody>
                            <td><%= pupper.id %></td>
                            <td><%= pupper.gender %></td>
                            <td><%= litter.breed %></td>
                            <td>
                                <%=(pupper.parents - [@parent]).first.name%>
                            </td>
                        </tbody>
                    <%end%>
                </table>
            </div>
        <%end%>
    </div>
</div>
