<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Four Paws Doodles</title>
</head>
<body>
    <h1>Parent</h1>
    <table id="parent-<%=@parent.id%>" class="parent">
        <thead>
            <th>Name</th>
            <th>Breed</th>
            <th>Genetics</th>
            <th>Role</th>
            <th></th>
        </thead>

        <tbody>
            <tr>
                <td><%= @parent.name %></td>
                <td><%= @parent.breed %></td>
                <td><%= @parent.genetics %></td>
                <td><%= @parent.role %></td>
            </tr>
        </tbody>
    </table>

    <h1>Litters</h1>
    <div id="litters">
        <%@litters.each do |litter|%>

            <h1><%=litter.name%></h1>
            <h3><%= litter.birthday %></h3>

            <table>
                <thead>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Breed</th>
                    <th>Other Parent</th>
                </thead>

                <%  litter.puppers.each do |pupper| %>
                    <tbody>
                        <td><%= pupper.id %></td>
                        <td><%= pupper.gender %></td>
                        <td><%= litter.breed %></td>
                        <td>
                            <%=(pupper.parents - [@parent]).first.name%>
                        </td>
                    </tbody>
                <%end%>
            </table>
        <%end%>
    </div>
</body>
</html>